body
{
    /* background-color: rgb(15, 15, 62); */
    background-image: linear-gradient(to bottom right, rgb(0, 0, 103), rgb(255, 255, 254));
    color: azure;
}
#head
{
    color: white;
    text-shadow: 0 0 10px yellow;
}
.navi
{
    color: aliceblue;
}